<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wptdxii.androidpractice">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- umeng -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="57c3e4f167e58ef0b300272d"/> -->
        <!-- <meta-data -->
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SwipeRecyclerActivity">
        </activity>
        <activity android:name=".ui.activity.ContentActivity">
        </activity>
        <activity android:name=".ui.activity.SampleSDKActivity">
        </activity>
        <activity android:name=".ui.activity.WidgetActivity">
        </activity>
        <activity android:name=".ui.activity.HoActivity">
        </activity>
        <activity android:name=".ui.activity.TabViewPagerActivity">
        </activity>
        <activity android:name=".ui.activity.ViewPagerActivity">
        </activity>
        <activity android:name=".ui.activity.SwipeRecyclerFragmentActivity">
        </activity>
    </application>

</manifest>